@charset "utf-8"
@import "../define"
@import "../../bower_components/colors/sass/variables"
@import "../../bower_components/font-awesome/scss/variables"
@import "../../bower_components/font-awesome/scss/core"

.page-container
  background-color: $page-background-color
  position: absolute
  top: 0
  left: 0
  z-index: 15
  display: none

  .navbar
    position: fixed
    top: 0
    left: 0
    right: 0
    z-index: 20
    height: $topbar-height
    padding: $gap $gap 0 $gap-icon

    .navbar-text
      display: inline-block
      line-height: $topbar-height - $gap
      text-indent: $gap

    .navbar-btn-group
      float: right

    .btn
      color: $white
      font-size: 20px
      line-height: $topbar-height - $gap
      width: $topbar-height - $gap
      height: $topbar-height - $gap
      padding: 0
      margin: 0
      border: none
      border-radius: $topbar-height
      background-color: #333
      text-align: center
      vertical-align: top

      + .btn
        margin-left: $gap

    .back-button
      padding-top: 2px
      line-height: $topbar-height - $gap - 2px
      padding-right: 4px

      &:active
        background-color: #222

    .game-button,
    .download-button,
    .fav-button,
    .search-button
      @extend .fa

    .game-button
      background-color: $game-color
      line-height: $topbar-height - $gap - 3px
      font-size: 22px

      &:before
        content: $fa-var-gamepad

      &:active
        background-color: darken($game-color, 15%)

    .download-button
      background-color: $game-color

      &:before
        content: $fa-var-download

      &:active
        background-color: darken($game-color, 15%)

    .fav-button
      padding-top: 3px
      line-height: $topbar-height - $gap - 3px
      background-color: $fav-color

      &.active:before
        content: $fa-var-heart
        color: #ffd511
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3)

      &:before
        content: $fa-var-heart-o

      &:active
        background-color: darken($game-color, 15%)

    .search-button
      padding: 0 0 2px 2px
      line-height: $topbar-height - $gap - 2px
      background-color: $search-color

      &:before
        content: $fa-var-search

      &:active
        background-color: darken($search-color, 15%)

    .fa-spinner
      position: absolute
      line-height: $topbar-height
      top: 0
      right: $gap
      font-size: 1.5em

    .back-button:active
      background-color: rgba(0, 0, 0, 0.2)

  .content
    overflow: auto
    -webkit-overflow-scrolling: touch

    > *:first-child
      padding-top: $topbar-height

  img
    max-width: 100%

  &.active
    display: block

  &.animated
    .content
      display: none

.out
  display: none !important