@charset "utf-8"
@import "../define"
@import "homepage-search"
@import "../../bower_components/colors/sass/variables"
@import "../../bower_components/font-awesome/scss/variables"
@import "../../bower_components/font-awesome/scss/core"

.page-container
  background-color: $page-background-color
  position: absolute
  top: 0
  left: 0
  z-index: 15
  display: none

  .navbar
    position: fixed
    top: 0
    left: 0
    right: 0
    z-index: 20
    padding: $gap $gap 0

    .navbar-text
      display: inline-block
      line-height: $topbar-height - $gap
      text-indent: $gap

    .navbar-btn-group
      float: right

    .btn
      color: $white
      font-size: 20px
      line-height: $topbar-height - $gap
      width: $topbar-height - $gap
      height: $topbar-height - $gap
      padding: 0
      margin: 0
      border: none
      border-radius: $topbar-height
      text-align: center
      vertical-align: top

      + .btn
        margin-left: $gap

    .back-button
      padding-top: 2px
      line-height: $topbar-height - $gap - 2px
      padding-right: 4px
      background-color: rgba(0, 0, 0, 0.6)

      &:active
        background-color: #222

    .game-button,
    .download-button,
    .fav-button,
    .search-button,
    .bookmark-button,
    .shortcut-button
      @extend .fa

    .game-button
      background-color: $game-color
      line-height: $topbar-height - $gap - 3px
      font-size: 22px

      &:before
        content: $fa-var-gamepad

      &:active
        background-color: darken($game-color, 15%)

    .download-button
      background-color: $game-color

      &:before
        content: $fa-var-cloud-download

      &:active
        background-color: darken($game-color, 15%)

    .fav-button
      padding-top: 3px
      line-height: $topbar-height - $gap - 3px
      background-color: $fav-color

      &.active:before
        content: $fa-var-heart
        color: #ffd511
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3)

      &:before
        content: $fa-var-heart-o

      &:active
        background-color: darken($game-color, 15%)

    .search-button
      padding: 0 0 2px 2px
      line-height: $topbar-height - $gap - 2px
      background-color: $search-color

      &:before
        content: $fa-var-search

      &:active
        background-color: darken($search-color, 15%)

    .bookmark-button
      background-color: $bookmark-color

      &.active:before
        content: $fa-var-bookmark
        color: #FFD511
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3)

      &:before
        content: $fa-var-bookmark-o

      &:active
        background: darken($bookmark-color, 15%)

    .shortcut-button
      background-color: $green
      position: relative

      &:before
        content: $fa-var-tablet

      &:after
        content: ''
        background: $white
        width: 4px
        height: 4px
        position: absolute
        top: 11px
        left: 14px

      &:active
        background: darken($green, 15%)

    .share-button
      background-color: $yellow

      &:before
        content: $fa-var-share

      &:active
        background-color: darken($yellow, 15%)

    .fa-spinner
      position: absolute
      line-height: $topbar-height
      top: 0
      right: $gap
      font-size: 1.5em

    .back-button:active
      background-color: rgba(0, 0, 0, 0.2)

  .search-form
    @extend #search-form
    position: fixed
    top: 0
    left: $topbar-height
    right: 0
    z-index: 25
    padding: $gap $gap

    input
      box-shadow: none
      padding: $gap - 3px $gap-icon
      line-height: 20px
      font-size: 14px
      border: 1px solid $border-color

    button
      width: 30px
      height: 30px
      top: $gap + 3px
      right: $gap + 4px
      font-size: 16px

      i
        line-height: 30px

    .cancel-button
      display: none
      width: 14%
      position: static
      height: 36px
      background: transparent
      font-size: 14px
      color: $active-color

      &:active
        background: transparent

    &.success input
      color: $search-success

    &.failed input
      color: $mute

    &.cover
      left: 0
      bottom: 0
      background-color: rgba(0, 0, 0, 0.75)

      .cancel-button
        display: inline-block

      input
        width: 86%

  .content
    overflow: auto
    -webkit-overflow-scrolling: touch

    > *:first-child
      padding-top: $topbar-height + $gap

  &.active
    display: block

  &.search
    background-repeat: no-repeat
    background-image: url(../img/bg.jpg)
    background-size: cover

  &.animated
    .content
      display: none

.out
  display: none !important