@charset "utf-8"
@import "../define"
@import "../../bower_components/colors/sass/variables"


#sidebar
  z-index: 5
  position: absolute
  top: 5%
  left: 22%
  right: 7%
  bottom: 5%
  color: $white
  overflow: hidden

  .panel-group
    height: 100%

  h4
    font-size: 1em
    line-height: 50px
    height: 50px
    border-bottom: 1px solid rgba(255, 255, 255, 0.4)
    margin: 0
    position: relative

    .fa-clock-o,
    .fa-heart-o
      width: 30px

    .edit-button
      display: none

    &.active
      font-size: 1.5em
      border-bottom-width: 2px

      .edit-button
        display: block
        position: absolute
        top: 0
        right: -10px
        width: 40px
        height: 50px
        text-align: center
        line-height: 50px

  ul
    @extend .transition
    margin: 0
    padding: 0
    overflow: auto
    -webkit-overflow-scrolling: touch

    .delete-button
      display: none

    &.collapse
      height: 0

    &.edit
      li
        padding-right: 20px

      .delete-button
        display: block
        position: absolute
        top: 5px
        right: -10px
        width: 35px
        height: 35px
        line-height: 35px
        text-align: center
        font-size: 1.5em
        background: transparent

  li
    font-size: 12px
    line-height: 44px
    list-style-position: inside
    border-bottom: 1px solid rgba(255, 255, 255, 0.4)
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    position: relative
    padding-left: 4px

    &:active
      background-color: rgba(255, 255, 255, 0.4)