@charset "utf-8"
@import "../define"
@import "../../bower_components/colors/sass/variables"
@import "../../bower_components/font-awesome/scss/variables"

#sidebar
  z-index: 5
  position: absolute
  top: 5%
  left: 21% // 为了能将“我的订阅”中的删除按钮显示在左上角，把更新数放右上角
  right: 3% // 同上，为了显示更新数量
  bottom: 5%
  color: $white
  display: none
  overflow: hidden

  #homepage.side + &
    display: block

  .panel-group
    height: 100%

  h4
    font-size: 1em
    line-height: 50px
    height: 50px
    border-bottom: 1px solid rgba(255, 255, 255, 0.3)
    margin: 0 $gap 0 $gap-s // 为了能将“我的订阅”中的删除按钮显示在左上角，把更新数放右上角
    position: relative

    .fa-clock-o,
    .fa-heart-o,
    .fa-bookmark-o
      width: 30px

    .edit-button
      display: none

    &.active
      font-size: 1.5em
      border-bottom: 2px solid $white

      .fa-bookmark-o:before
        content: $fa-var-bookmark

      .fa-heart-o:before
        content: $fa-var-heart

      .edit-button
        display: block
        position: absolute
        top: 0
        right: -10px
        width: 40px
        height: 50px
        text-align: center
        line-height: 50px

  ul
    @extend .transition
    @extend .ul
    overflow: auto
    -webkit-overflow-scrolling: touch

    &.collapse
      height: 0

    &.in
      height: 403px

    li
      font-size: 12px
      white-space: nowrap
      text-overflow: ellipsis
      position: relative

  .my-fav,
  .recent,
  .rss
    padding: 0 $gap 0 $gap-s // 为了能将“我的订阅”中的删除按钮显示在左上角

    .delete-button
      display: none

  .my-fav,
  .recent
    &.edit
      li
        padding-right: 20px

      .delete-button
        display: block
        position: absolute
        top: 5px
        right: -10px
        width: 35px
        height: 35px
        line-height: 35px
        text-align: center
        font-size: 1.5em
        background: transparent

    li
      line-height: 44px
      list-style-position: inside
      border-bottom: 1px solid rgba(255, 255, 255, 0.4)
      padding-left: 4px
      overflow: hidden

      &:active
        background-color: rgba(255, 255, 255, 0.4)

  .rss
    @extend .wrap-container
    overflow: auto

    &.in
      padding-top: $gap

    .item
      @extend .wrap
      width: 70px
      margin-top: $gap

      + .item
        margin-left: 24px

        &:nth-child(3n + 1)
          margin-left: 0

    h3
      line-height: 25px
      font-weight: normal
      margin: 0
      overflow: hidden
      text-align: center

    img
      width: 70px
      height: 70px
      border-radius: 13px

    span
      @extend .update-number

    .delete-button
      display: none

    &.edit
      span
        display: none

      .delete-button
        display: block
        position: absolute
        top: -$gap-s
        left: -$gap-s
        background-color: $topbar-background-color
        color: $mute
        line-height: $gap-l
        width: $gap-l
        text-align: center
        border-radius: $gap