@charset "utf-8"
$topbar-height: 45px
$gap-s: 5px
$gap: 10px
$gap-l: 20px
$gap-icon: 15px
$icon-radius: 15px

$topbar-background-color: #F3F3F3
$page-background-color: #E4E4E4
$background-color: #FFF
$navbar-background-color: #00bef2
$list-background-color: #FFF
$indicator-color: #FFF
$border-color: #D5D5D5
$download-background-color: #ebebeb

$active-color: #3eafe9
$font-color: #000
$mute: #999
$smoke: #CCC

$hot-color: #E16C00
$latest-color: #23A609
$game-color: #ff7815
$fav-color: #fe3c1c
$star-color: #ff9014
$search-color: #00BEF2
$bookmark-color: #E666FD
$update-color: #FF6C02
$search-success: #F6421F

.ul
  list-style: none
  margin: 0
  padding: 0

.flex-row
  display: -webkit-box
  display: box

  display: -webkit-flex
  display: -ms-flexbox
  display: flex

  -webkit-box-orient: horizontal
  box-orient: horizontal
  -webkit-flex-flow: row wrap
  -ms-flex-flow: row wrap
  flex-flow: row wrap

  text-rendering: optimizespeed
  font-family: FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif

.flex-column
  @extend .flex-row
  -webkit-box-orient: vertical
  box-orient: vertical
  -webkit-flex-flow: column
  -ms-flex-flow: column
  flex-flow: column

.one
  -webkit-box-flex: 1
  box-flex: 1
  -webkit-flex: 1
  flex: 1

.one-auto
  -webkit-box-flex: 1
  box-flex: 1
  -webkit-flex: auto
  flex: auto

.wrap-container
  // 这两个0解决inline-block时会在块之间产生空隙的问题
  font-size: 0
  line-height: 0

  *
    font-size: 12px
    line-height: 1.5em

.wrap
  display: inline-block
  vertical-align: top

.hcenter
  display: -webkit-box
  display: box
  display: -webkit-flex
  display: flex
  -webkit-box-align: center
  -webkit-justify-content: center
  justify-content: center

.vcenter
  display: -webkit-box
  display: box
  display: -webkit-flex
  display: flex
  -webkit-box-pack: center
  -webkit-align-items: center
  align-items: center

.all-center
  @extend .hcenter
  @extend .vcenter

.transition
  -webkit-transition: all 0.3s
  transition: all 0.3s

.tap-active
  background: rgba(0, 0, 0, 0.1)

.update-number
  background: $update-color
  color: #FFF
  position: absolute
  right: -1em
  top: -1em
  font-size: 10px
  line-height: 2em
  border-radius: 1em
  min-width: 2em
  text-align: center
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.4)