@charset "utf-8"
$topbar-height: 50px

.ul
  list-style: none
  margin: 0
  padding: 0

.row
  display: -webkit-box
  display: box

  display: -webkit-flex
  display: -ms-flexbox
  display: flex

  -webkit-box-orient: horizontal
  box-orient: horizontal
  -webkit-flex-flow: row wrap
  -ms-flex-flow: row wrap
  flex-flow: row wrap

  text-rendering: optimizespeed
  font-family: FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif

.column
  @extend .row
  -webkit-box-orient: vertical
  box-orient: vertical
  -webkit-flex-flow: column
  -ms-flex-flow: column
  flex-flow: column

.one
  -webkit-box-flex: 1
  box-flex: 1
  flex: 1

.one-auto
  -webkit-box-flex: 1
  box-flex: 1
  flex: auto

.wrap-container
  // 这两个0解决inline-block时会在块之间产生空隙的问题
  font-size: 0
  line-height: 0

.wrap
  display: inline-block
  vertical-align: top
  flex: auto