@charset "utf-8"
@import "define"
@import "component/homepage-search"
@import "../bower_components/colors/sass/variables"
@import "../bower_components/font-awesome/scss/variables"
@import "../bower_components/font-awesome/scss/core"

.page-container
  .navbar
    background-color: $navbar-background-color
    padding: 0 0
    height: $topbar-height

    .btn
      background-color: rgba(0,0,0,0)
      border-radius: 0
      height: $topbar-height
      width: $topbar-height
      line-height: $topbar-height

      + .btn
        margin-left: 0

    .back-button
      padding-right: $gap

    .back-button,
    .bookmark-button,
    .fav-button,
    .game-button,
    .shortcut-button,
    .share-button
      &:active
        background-color: rgba(0,0,0,0.2)

    .ellipsis-v-button
      background-color: $green

      &:before
        content: $fa-var-ellipsis-v

    .share-button
      padding-top: 3px

    .shortcut-button
      &:after
        top: $gap-l - 1px
        left: $gap-l + 1px

  .search-form
    padding: 0 0

    &:after
      content: ''
      position: absolute
      top: $gap-l + $gap
      right: $gap
      left: 0
      height: $gap-s
      border-bottom: 1px solid $yellow
      border-left: 1px solid $yellow
      border-right: 1px solid $yellow

    input
      padding: $gap + 2px $gap + 25px
      color: $white
      background-color: rgba(0,0,0,0)
      border-radius: 0
      border: 0

      &:active
        background-color: rgba(0,0,0,0.0)

    input::-webkit-input-placeholder
      color: lighten($smoke, 6%)

    input::-moz-placeholder
      color: lighten($smoke, 6%)

    input::-ms-placeholder
      color: lighten($smoke, 6%)

    button
      top: $gap - 3px
      left: 0
      font-size: 20px
      background-color: rgba(0,0,0,0)

      &:disabled
        background-color: rgba(0,0,0,0)

    .cancel-button
      width: $topbar-height + 5px
      height: $topbar-height
      line-height: $topbar-height
      color: $white

    &.cover
      background-color: rgba(0,0,0,0)

      &:before
        content: ''
        position: absolute
        top: $topbar-height
        left: 0
        right: 0
        bottom: 0
        background-color: rgba(0,0,0,0.75)

      &:after
        left: 50px

      input
        width: 80%
        color: $yellow

      button
        left: $gap + 40px

      &.success,
      &.failed
        &:after
          left: 50px

        button
          left: $gap + 40px

      &.success
        input
          color: $search-success

          &:active
            color: $search-success

      &.failed
        input
          color: $mute

          &:active
            color: $mute

    &.success,
    &.failed
      &:after
        left: 0

      button
        left: 0

    &.success
      input
        color: $search-success

    &.failed
      input
        color: $mute