/* ====================================
 * btn
 * ==================================*/
.btn
  display: inline-block
  background: #E0E0E0
  text-align: center
  line-height: normal
  white-space: nowrap
  vertical-align: baseline
  padding: 0.5em 0.5em
  border-radius: 3px
  border: 1px solid transparent

  &.active,
  &:active
    background: #DDD

  &[disabled],
  &.disabled
    cursor: not-allowed
    opacity: .65
    box-shadow: none

.btn-block
  width: 100%
  line-height: 2em
  font-size: 18px

.btn-default
  background-color: #FFF
  border-color: #CCC
  color: #333

  &:hover
    background-color: #EBEBEB
    border-color: #ADADAD

  &.active,
  &:active
    background-color: #EBEBEB
    border-color: #ADADAD
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)

.btn-primary,
.download-button
  background: #1397e2
  color: #FFF

  &.active,
  &:active
    background: #0683cb

.btn-success
  background: #1CB841
  color: #FFF

  &.active,
  &:active
    background: darken(#1cb841, 10%)

.btn-danger,
.delete-button
  background: #D00000
  color: #FFF

  &.active,
  &:active
    background: darken(#D00000, 10%)

/* ====================================
 * alert
 * ==================================*/
.alert
  padding: 10px
  margin: 10px
  border: 1px solid transparent
  border-radius: 4px

  h3,
  h4
    margin: 0 0 5px

.alert-info
  background-color: #d9edf7
  border-color: #bce8f1
  color: #31708f

.pagination
  text-align: center

  .hide
    display: inline-block
    visibility: hidden

/* ====================================
 * indicators
 * ==================================*/
.indicators
  position: absolute
  left: 50%
  bottom: 10px
  font: 8px/8px Airal
  background-image: url(../img/indicator.png)
  min-width: 8px

  div
    width: 8px
    height: 8px
    overflow: hidden
    background: #CECDCD

/* ====================================
 * badge
 * ==================================*/
.badge
  display: inline-block
  line-height: 1.5em
  border-radius: 1em
  background-color: #CCC
  color: #FFF
  padding: 0 0.5em