#header
  color: #333
  text-shadow: 0 1px 0 #FFF
  background: #f8f8f8
  border-bottom: 1px solid #E9E9E9

#logo
  background: url(../img/logo.png) no-repeat 0 8px
  font-size: 18px

#apps
  position: relative
  background: url(../img/slidebg.png)

  #apps-container ul
    @extend .ul

  .item
    text-align: center

    &.guide:after
      content: ''
      background-image: url(../img/icon.png)
      background-size: auto 30px
      width: 30px
      height: 30px

    &.offline:after
      width: 37px
      background-position: 37px 0

    &.no-guide
      -webkit-filter: grayscale(100%)
      -moz-filter: grayscale(100%)
      -ms-filter: grayscale(100%)
      filter: grayscale(100%)

      img
        box-shadow: none

  img
    border-radius: 16px
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2)

  a
    color: #FFF
    text-decoration: none
    font-size: 14px

  .indicators
    font: 8px/8px Airal
    background-image: url(../img/indicator.png)

    div
      width: 8px
      height: 8px
      overflow: hidden
      background: #CECDCD

  .no-guide-dialog
    background: #2163C5
    text-align: center

    &:before
      content: ''
      border-bottom: 15px solid #2163c5
      border-left: 12px solid transparent
      border-right: 12px solid transparent

    .heading
      font-size: 16px
      color: #9EB8D2
      line-height: 45px

    ul
      list-style: none
      color: #FFF

      li
        border-top: 1px solid #497DCC

h2.title
  background: #E7E7E7
  font-size: 16px
  color: #333

  i
    background: #666

#feeds
  overflow: hidden

  ul
    @extend .ul
    overflow-x: hidden

  li
    padding: 20px 10px
    border-bottom: 1px solid #E7E7E7

  a
    color: #1B416C
    text-decoration: none
    font-size: 18px
    font-weight: normal
    line-height: 25px

    &:visited
      color: #999

  p
    color: #666
    font-size: 12px


.footer
  a
    background: #1397E2
    color: #FFF
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2)
    border-radius: 0
    font-size: 18px

    &.active
      background: #0683CB

#page-container
  overflow-x: hidden
  overflow-y: auto
  background: #F5F5F5