@charset "utf-8"
@import "define"
@import "../bower_components/font-awesome/scss/font-awesome"

#header
  background: $topbar-background-color

  .btn
    background: transparent

    &:active
      background: #DDD

#logo
  background: url(../img/logo.png) no-repeat 0 4px
  font-size: 16px
  text-indent: 50px

#main-nav
  background-color: $nav-background-color

  a
    font-size: 15px
    text-align: center

    &:active
      background-color: rgba(255, 255, 255, 0.4)

    &.active
      background-color: #70BFFF

      &:after
        content: ' '

  .badge
    border: 1px solid #FFF
    font-size: 12px
    background-color: #dd514c

#apps
  position: relative
  -webkit-transition: all .4s
  transition: all .4s

  .item
    text-align: center

    &:active
      background: rgba(255, 255, 255, 0.4)

    &.guide:after
      content: ''
      background-image: url(../img/icon.png)
      background-size: auto 30px

    &.offline:after
      background-position: -37px 0

    &.downloading:after
      background-position: -75px 0

    &.no-guide
      -webkit-filter: grayscale(100%)
      -moz-filter: grayscale(100%)
      -ms-filter: grayscale(100%)
      filter: grayscale(100%)

      img
        box-shadow: none

  img
    border-radius: 16px
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2)

  a
    color: #FFF
    text-decoration: none
    font-size: 14px

#feeds-title
  background: #E7E7E7
  font-size: 16px
  color: #333

  .bar
    background: #666

#feeds

  li
    background-color: $list-background-color
    border-radius: 4px

  a
    text-decoration: none
    font-size: 16px
    font-weight: normal
    line-height: 25px

    &:visited
      color: #CCC

  img
    border-radius: 4px

  p
    color: #999
    font-size: 12px

  .load-more
    font-size: 12px
    text-align: center
    color: #666

.page-container
  overflow-x: hidden
  overflow-y: auto
  background: $background-color

  .navbar
    @extend #header

    h2
      @extend #logo
      @extend .fa-angle-left

      &:before
        @extend .fa
        display: inline
