*
  -webkit-tap-highlight-color: rgba(0,0,0,0)

body
  -webkit-touch-callout: none
  -webkit-text-size-adjust: none
  -webkit-user-select: none
  background-color: #f5f5f5
  font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif
  font-size: 14px

figure
  margin: 0

.ul
  list-style: none
  margin: 0
  padding: 0

a
  color: #444
  text-decoration: none

.hide
  display: none

.btn
  display: inline-block
  background: #E0E0E0
  text-align: center
  line-height: normal
  white-space: nowrap
  vertical-align: baseline
  padding: 0.5em 0.5em
  border-radius: 3px
  box-sizing: border-box

  &.active,
  &:active
    background: #DDD

.btn-primary
  background: #1397e2
  color: #FFF

  &.active,
  &:active
    background: #0683cb

.text-success
  color: rgb(28, 184, 65)

.delete-button
  color: #FFF
  border-radius: 4px
  background: rgb(202, 60, 60)

.row
  display: -webkit-box
  display: box

  display: -webkit-flex
  display: -ms-flexbox
  display: flex

  -webkit-box-lines: multiple
  box-lines: multiple

  -webkit-box-orient: horizontal
  box-orient: horizontal
  -webkit-flex-flow: row wrap
  -ms-flex-flow: row wrap
  flex-flow: row wrap

  text-rendering: optimizespeed
  font-family: FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif

.column
  -webkit-box-orient: vertical
  box-orient: vertical
  -webkit-flex-flow: column
  -ms-flex-flow: column
  flex-flow: column

.one
  -webkit-box-flex: 1
  box-flex: 1
  flex: 1

.one-auto
  -webkit-box-flex: 1
  box-flex: 1
  flex: auto


@keyframes fade
  from
    opacity: 1.0
  50%
    opacity: 0.4
  to
    opacity: 1.0

@-webkit-keyframes fade
  from
    opacity: 1.0
  50%
    opacity: 0.4
  to
    opacity: 1.0

.blink
  -webkit-animation: fade 3000ms infinite
  animation: fade 3000ms infinite