a
  color: #444
  text-decoration: none

.hide
  display: none

.text-success
  color: rgb(28, 184, 65)

.delete-button
  color: #FFF
  border-radius: 4px
  background: rgb(202, 60, 60)

.pure-g
  letter-spacing: 0