.ios
  .game-info small,
  .shortcut-button
    display: none

.ios7
  .homepage-logo
    top: 36px

  .sidebar-toggle
    top: 32px

  .page-container
    .navbar
      padding-top: 20px

      .btn,
      .fa-spinner
        top: 20px

    .search-form
      padding-top: 20px

      button
        top: 23px

    .content > *:first-child
      padding-top: 65px

  .guide-list section
    padding-top: 65px

  .game-button
    display: none