@import "define"

/* ====================================
 * layouts
 * ==================================*/
html,
body
  height: 100%

body
  @extend .row
  @extend .column
  overflow: hidden
  padding: 0
  margin: 0

  &.article,
  &[class^=game]
    #header
      .btn
        display: block

  &.all,
  &.offline,
  &[class^=news]
    #header
      .back-button
        display: block

  &[class^=game]
    #main-nav
      display: none

    #page-container
      bottom: 0

#header
  line-height: $topbar-height
  height: $topbar-height
  position: relative
  z-index: 20
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2)

  .btn
    position: absolute
    top: 5px
    display: none
    font-size: 2em
    padding: 4px 0
    min-width: 40px
    background: transparent

  .back-button
    text-align: left
    left: 15px

  .game-button
    text-align: right
    right: 15px

#logo
  padding-left: 50px
  width: 138px
  margin: 0 auto

#apps
  padding: 10px 5px 0
  position: relative
  min-height: 215px
  overflow: hidden

  #apps-container ul
    @extend .row
    @extend .ul
    float: left

  .item
    @extend .one-auto
    @extend .wrap
    position: relative
    padding: 0 5px 10px
    width: 24%
    max-width: 25%

    &:after
      position: absolute
      right: 3px
      bottom: 44px

    &.offline:after
      bottom: 43px
      right: 2px

    img
      display: block
      max-width: 100%

  figcaption
    line-height: 30px
    height: 30px
    overflow: hidden

  .indicators
    position: absolute
    left: 50%
    bottom: 10px

  .no-guide-dialog
    position: absolute
    top: 0
    left: 0
    width: 190px

    &:before
      position: absolute
      width: 0
      height: 0
      top: -15px
      left: 50%
      margin-left: -12px

    ul
      margin: 0
      padding: 0

      a
        line-height: 70px
        width: 100%
        text-align: center
        display: block

h2.title
  margin: 0
  line-height: 40px
  text-indent: 10px

  i
    display: inline-block
    width: 5px
    overflow: hidden
    height: 0.8em
    vertical-align: middle

#feeds
  @extend .one
  @extend .ul
  overflow: auto

  li
    padding: 20px
    box-sizing: border-box

  h3
    margin: 0

  p
    margin: 10px 0 0

.footer
  height: $topbar-height
  z-index: 15

  a
    @extend .one-auto
    padding: 0
    display: block
    line-height: $topbar-height

#page-container
  position: absolute
  top: $topbar-height
  left: 0
  right: 0
  bottom: $topbar-height
  z-index: 10
  display: none

  &.active
    display: block

  #loading
    text-align: center
    padding: 40px 0

  img
    max-width: 100%