@charset "utf-8"
@import "define"

/* ====================================
 * layouts
 * ==================================*/
html,
body
  height: 100%

body
  @extend .column
  overflow: hidden
  padding: 0
  margin: 0

#header
  line-height: $topbar-height
  position: relative
  z-index: 5

  .btn
    position: absolute
    font-size: 1.5em
    top: 0
    line-height: $topbar-height - 3px
    border: 0
    padding: 0 0 3px
    min-width: 40px

  .search-button
    right: $gap-s

#logo
  margin: 0 0 0 $gap

#main-nav
  z-index: 5
  width: 100%

  a
    @extend .one-auto
    line-height: $nav-height
    height: $nav-height
    display: block
    flex: 1 1 auto
    -webkit-flex: 1 1 auto
    position: relative

    &.active:after
      position: absolute
      left: 50%
      margin-left: -6px
      bottom: 0
      width: 0
      height: 0
      border-left: 6px solid transparent
      border-right: 6px solid transparent
      border-bottom: 6px solid $background-color

  .badge
    position: absolute
    right: 5px
    top: 5px

#all

  .wrapper
    position: absolute
    top: 50px
    left: 0
    right: 0
    bottom: 0
    z-index: 1
    overflow: hidden

    .more
      text-align: center

    ul
      height: 100%

#apps
  position: relative

  &.collapse
    height: 0
    min-height: 0
    overflow: hidden

  #apps-container
    overflow: hidden
    padding: $gap-l 0 $gap-l + 10px
    margin-right: $gap-icon

    ul
      @extend .ul
      @extend .row

  .item
    @extend .one
    flex: 1 1 65px
    -webkit-flex: 1 1 65px
    position: relative
    padding-left: $gap-icon

    &:after
      position: absolute
      right: 0
      bottom: 0
      width: 30px
      height: 29px

    &.guide:after
      width: 28px

    &.offline:after,
    &.downloading:after
      width: 37px
      height: 27px

    img
      display: block
      max-width: 100%

  h3
    font-size: 14px
    font-weight: normal
    line-height: 30px
    height: 30px
    overflow: hidden
    margin: 0

#feeds
  @extend .one
  overflow: auto
  position: relative
  padding: 0 $gap-icon

  .loading
    text-align: center
    line-height: $topbar-height

  .iScrollVerticalScrollbar
    top: 50px !important
    width: 5px !important

  .wrapper
    position: absolute
    top: -45px
    left: 0
    bottom: 0
    z-index: 1
    width: 100%
    overflow: hidden

  .pulldown
    text-align: center
    padding: 5px 10px
    font-weight: bold
    color: #888
    line-height: 40px

  ul
    @extend .ul
    padding: 0 10px

  li
    padding: $gap
    overflow: hidden

    + li
      margin-top: $gap-s

  img
    height: 80px
    display: block
    float: left
    margin-right: $gap

  h3
    margin: 0

  p
    margin: 10px 0 0

.page
  @extend .column
  @extend .one
  position: relative

.app-container
  @extend .column
  overflow: auto
  top: 0
  bottom: 0

  &.active
    position: absolute

.out
  display: none

.page-container
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 10
  padding-top: $topbar-height
  display: none

  &.active
    display: block

  .loading
    text-align: center
    padding: 40px 0

  img
    max-width: 100%

  .navbar
    @extend #header
    position: fixed
    top: 0
    left: 0
    right: 0

    h2
      @extend #logo
      max-width: 60%
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      margin-left: 25px

      &:before
        position: absolute
        left: -45px
        font-size: 2em
        line-height: $topbar-height
