@charset "utf-8"
@import "define"

/* ====================================
 * layouts
 * ==================================*/
html,
body
  height: 100%
  overflow: hidden

body
  @extend .column
  padding: 0
  margin: 0

#header
  line-height: $topbar-height
  position: relative
  z-index: 5

  .btn
    position: absolute
    font-size: 1.5em
    top: 0
    line-height: $topbar-height - 3px
    border: 0
    padding: 0 0 3px
    min-width: 40px

  .search-button
    right: $gap-s

#logo
  margin: 0 0 0 $gap + $gap-s
  text-indent: 35px

#main-nav
  z-index: 5
  width: 100%
  position: relative

  a
    @extend .one-auto
    line-height: $nav-height
    height: $nav-height
    display: block
    position: relative

    &.active
      padding-top: 4px
      line-height: $nav-height - 8px
      border-bottom: 4px solid $active-color

  .badge
    position: absolute
    right: 5px
    top: 5px

#all

  .more
    text-align: center
    line-height: 2em

#homepage
  @extend .column

#apps
  position: relative

  #apps-container
    overflow: hidden
    padding: $gap + $gap-s 0 $gap-l
    margin-right: $gap-icon

    ul
      @extend .ul
      @extend .row

  .item
    @extend .one
    flex: 1 1 65px
    -webkit-flex: 1 1 65px
    position: relative
    padding-left: $gap-icon

    &:after
      position: absolute
      right: 0
      bottom: 0
      width: 30px
      height: 29px

    &.guide:after
      width: 28px

    &.offline:after,
    &.downloading:after
      width: 37px
      height: 27px

    img
      display: block
      max-width: 100%

  .indicators
    bottom: 2px

#feeds-title
  line-height: 20px
  text-indent: $gap
  margin: 0

#feeds,
#recent-read,
.guide-index .top-article,
.guide-index .article-list,
.guide-group .list
  @extend .one
  overflow: auto
  position: relative
  padding: 0 $gap-icon
  margin: 0

  .loading
    text-align: center
    line-height: $topbar-height

  .iScrollVerticalScrollbar
    top: 50px !important
    width: 5px !important

  .wrapper
    position: absolute
    top: -45px
    left: 0
    bottom: 0
    z-index: 1
    width: 100%
    overflow: hidden

  .pulldown
    text-align: center
    padding: 5px 10px
    font-weight: bold
    color: #888
    line-height: 40px

  ul
    @extend .ul
    padding: 0 10px

  li
    padding: $gap
    overflow: hidden
    list-style: none

    + li
      margin-top: $gap-s

  img
    width: 120px
    height: 80px
    display: block
    float: left
    margin-right: $gap

  h3
    margin: 0

  p
    margin: 10px 0 0

.page
  @extend .column
  @extend .one
  position: relative

.app-container
  top: 0
  bottom: 0

  &.active
    position: absolute

.out
  display: none !important

.page-container
  position: absolute
  top: 0
  left: 0
  z-index: 10
  padding-top: $topbar-height
  display: none

  &.active
    display: block

  &.animated
    .content
      display: none

  .loading
    text-align: center
    padding: 40px 0

  img
    max-width: 100%

  .navbar
    @extend #header
    position: fixed
    top: 0
    left: 0
    right: 0

    h2
      @extend #logo
      max-width: 75%
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      background-position-x: 5px
      text-indent: 40px

      &:before
        position: absolute
        left: -35px
        font-size: 1.5em
        line-height: $topbar-height

    .fa-spinner
      position: absolute
      line-height: $topbar-height
      top: 0
      right: $gap
      font-size: 1.5em

