@media (max-width: 499px)
  #apps
    .item
      img
        max-width: 100%

@media (max-width: 399px)
  #main-nav
    a
      span
        display: none

      i
        font-size: 30px
        line-height: 40px