@charset "utf-8"
@import "define"

@media (max-width: 320px)
  #my-apps-title
    font-size: 10px
    line-height: 12px
    padding: 3px 0
    width: 18px
    height: 55px
    left: $gap-icon

  #my-apps
    left: 18px + $gap-icon
    right: $gap-icon

    .item
      width: 55px
      height: 55px
      margin-left: 13px

  #sidebar
    .rss
      .item
        width: 60px

        img
          width: 60px
          height: 60px

  .guide-index
    .game-info
      padding: 0 $gap

      &:last-child
        padding-bottom: $gap

      p
        margin-left: 70px

    .icon
      width: 60px
      height: 60px
      margin-right: $gap

    h1
      font-size: 17px
      margin-top: 0

      small
        font-size: 9px

    .home-page
      padding: $gap 0 $gap

    .carousel,
    .stoned
      margin: 0 1px
      padding-bottom: $gap-l + $gap-s

      li
        margin-left: $gap - 1px

  .article-list

    p
      font-size: 9px

@media (min-width: 480px)
  #apps,
  #guide-list
    padding: 20px 0 0 20px

    .item
      img
        max-width: 100%

    a
      font-size: 16px

@media (max-height: 450px)
  .apps-title,
  #apps,
  .entrance,
  .history-button
    display: none

.ios
  .game-info small
    display: none

.ios7
  .homepage-logo
    top: 36px

  .sidebar-toggle
    top: 32px

  .page-container
    .navbar
      padding-top: 20px

      .btn,
      .fa-spinner
        top: 20px

    .search-form
      padding-top: 20px

      button
        top: 23px

    .content > *:first-child
      padding-top: 65px

  .guide-list section
    padding-top: 65px

  .game-button
    display: none