@charset "UTF-8"
@import "compass/css3/images"
@import "compass/css3/transition"
@import "define"
@import "../bower_components/colors/sass/variables"
@import "../bower_components/font-awesome/scss/variables"
@import "../bower_components/font-awesome/scss/core"

.game-page
  h2
    text-indent: $gap-l
    font-size: 12px
    margin: $gap 0

/* ----------------
 * index
 * --------------*/
.guide-index
  header
    position: relative
    background-color: #226b75
    color: $white

  .game-info
    padding: $gap + $gap-s $gap + $gap-s 0
    overflow: hidden

    &:last-child
      padding-bottom: $gap + $gap-s

    p
      margin: 0 0 0 85px

  .icon
    display: block
    float: left
    margin-right: 15px
    width: 70px
    height: 70px
    border: 1px solid #FFF
    border-radius: 15px

  h1
    font-size: 18px
    margin: 5px 0

    small
      font-size: 10px

  p
    font-size: 12px
    line-height: 1.6em

    &.collapse
      @extend .transition
      height: 3em

  .home-page
    padding: $gap + $gap-s 0 $gap

    ul
      @extend .ul
      @extend .row

    li
      @extend .one
      margin-left: $gap + $gap-s

    img
      border-radius: 8px
      width: 100%

    h3
      margin: 0
      font-size: 14px
      text-align: center

  .carousel,
  .stoned
    padding-bottom: $gap + $gap-l

/* ----------------
 * list
 * --------------*/
.guide-list
  padding-top: $gap-icon
  padding-bottom: $gap-icon

/* ----------------
 * detail
 * --------------*/
.news-detail,
.guide-detail
  padding: 0 $gap-l $gap-l

  .guide-info
    font-size: 12px
    color: $mute

  hr
    border-color: $white

  a
    color: $blue
    text-decoration: underline

    &[target=_blank]:after
      content: ' \f08e'
      font-family: 'FontAwesome'
      font-size: 0.8em

  img
    max-width: 100%
    height: auto

  h1
    line-height: 1.5em
    margin: $gap 0

  h2
    text-indent: 20px

  article
    padding: 0 0 1em

.game-card
  padding: $gap-s
  background-color: $list-background-color
  position: relative
  min-height: $gap-s * 2 + 60px
  border-radius: 4px

  .icon
    width: 60px
    height: 60px
    margin-right: $gap

  h3, p
    margin: 0

  .download-button
    width: 60px
    line-height: 28px
    padding: 0
    margin: $gap + $gap-s $gap 0 0

.game-desc
  margin: $gap 0
  border-radius: 4px

  p
    font-size: 12px
    margin: 0

/* ====================================
 * no-guide
 * ==================================*/
.no-guide
  @extend .all-center
  height: 100%

  p
    text-align: center
    color: #999

  .btn
    background-color: $active-color
    width: 165px
    line-height: 45px
    font-size: 14px
    color: $white
    margin-top: 50px

/* ====================================
 * search
 * ==================================*/
.search-result
  .alert
    display: none

  .no-result + .alert
    display: block