@charset "UTF-8"
@import "compass/css3/images"
@import "compass/css3/transition"
@import "define"
@import "../bower_components/colors/sass/variables"
@import "../bower_components/font-awesome/scss/variables"
@import "../bower_components/font-awesome/scss/core"

.game-page

  > h2
    text-indent: $gap-s
    font-size: 12px
    line-height: 1em
    margin: $gap + $gap-s
    border-left: 2px solid

    &.hot
      color: $hot-color
      border-left-color: $hot-color

    &.news
      color: $latest-color
      border-left-color: $latest-color

/* ----------------
 * index
 * --------------*/
.guide-index
  header
    position: relative
    background: #226b75 url(../img/bg.jpg) no-repeat
    background-size: cover
    color: $white

  .game-info
    padding: 0 $gap + $gap-s
    overflow: hidden

    &:last-child
      padding-bottom: $gap + $gap-s

    p
      margin: 0 0 0 85px

  .icon
    display: block
    float: left
    margin-right: 15px
    width: 70px
    height: 70px
    border: 1px solid #FFF
    border-radius: 15px

  h1
    font-size: 18px
    margin: 5px 0

    small
      font-size: 10px

  p
    font-size: 12px
    line-height: 1.6em

    &.collapse
      @extend .transition
      height: 3em

  .home-page
    padding: $gap + $gap-s 0 $gap

    ul
      @extend .ul
      @extend .flex-row

    li
      @extend .one
      margin-left: $gap + $gap-s

    img
      border-radius: $gap-s
      width: 100%

    h3
      margin: 0
      font-size: 12px
      line-height: 2em
      text-align: center

  .carousel,
  .stoned
    padding-bottom: $gap + $gap-l

/* ----------------
 * list
 * --------------*/
.guide-list
  padding-top: $gap-icon
  padding-bottom: $gap-icon

  section
    padding-top: 40px

/* ----------------
 * detail
 * --------------*/
.news-detail,
.guide-detail
  padding: 0 $gap-l $gap-l

  .guide-info
    font-size: 12px
    color: $mute

  hr
    border-color: $white

  a
    color: $blue
    text-decoration: underline

    &[target=_blank]:after
      content: ' \f08e'
      font-family: 'FontAwesome'
      font-size: 0.8em

  img
    max-width: 100%
    height: auto

  h1
    line-height: 1.5em
    margin: $gap 0

  article
    padding: 0 0 1em
    line-height: 1.6

    blockquote
      padding: 10px 20px
      margin: 0 0 20px
      font-size: 1.25em
      border-left: 5px solid #CCC
      background-color: #DDD

      p:last-child
        margin-bottom: 0

    img
      max-width: 100%
      border-radius: 6px

    p
      margin: 0 0 10px

    table
      border-collapse: collapse
      border-spacing: 0

      th
        border-bottom-width: 2px
        font-weight: bold

      th,
      td
        border: 1px solid 1px

.gae-card
  padding: $gap-s
  background-color: $list-background-color
  position: relative
  min-height: $gap-s * 2 + 60px
  border-radius: 4px

  .icon
    width: 60px
    height: 60px
    margin-right: $gap

  h3, p
    margin: 0

  .download-button
    width: 60px
    line-height: 28px
    padding: 0
    margin: $gap + $gap-s $gap 0 0

.game-desc
  margin: $gap 0
  border-radius: 4px

  p
    font-size: 12px
    margin: 0

/* ====================================
 * no-guide
 * ==================================*/
.no-guide
  @extend .all-center
  height: 100%

  p
    text-align: center
    color: #999

  .btn
    background-color: $active-color
    width: 165px
    line-height: 45px
    font-size: 14px
    color: $white
    margin-top: 50px

/* ====================================
 * search
 * ==================================*/
.search-result
  .alert
    display: none

  .no-result + .alert
    display: block