/* ====================================
 * all
 * ==================================*/
.filter
  padding: 10px
  display: flex
  background: #DDD

  div
    flex: auto

    + div
      margin-left: 10px

  select
    width: 100%
    height: 34px
    padding: 6px 12px
    font-size: 14px
    line-height: 30px

#guide-list
  list-style: none
  margin: 0
  padding: 0
  display: flex
  padding: 20px 0 0 20px

  li
    flex: auto
    text-align: center
    margin: 0 20px 20px 0

  img
    max-width: 100px
    border-radius: 12px

  figcaption
    line-height: 30px


/* ====================================
 * offline
 * ==================================*/
#offline-list
  list-style: none
  display: flex
  flex-direction: column
  padding: 20px
  margin: 0

  .item
    display: flex
    border: 1px solid #CCC
    padding: 10px

    + .item
      border-top: none

    > *
      flex: auto

    img
      width: 80px
      max-width: 80px
      height: 80px
      margin-right: 10px
      border-radius: 8px

    h2
      font-size: 20px
      line-height: 30px
      margin: 0 0 30px

    .progress
      height: 20px
      line-height: 20px
      background: #DDD
      box-shadow: inset 1px 1px 2px #CCC
      border-radius: 4px

      .bar
        height: 20px
        line-height: 20px
        background: rgb(66, 184, 221)
        border-radius: 4px

    .btn-group
      width: 85px
      max-width: 85px
      margin-left: 10px

      p
        line-height: 30px
        margin: 3px 0 16px

      .pure-button:only-child
        margin-top: 49px