@charset "utf-8"
@import "define"
@import "component/homepage-search"
@import "../bower_components/colors/sass/variables"
@import "../bower_components/font-awesome/scss/variables"
@import "../bower_components/font-awesome/scss/core"

.page-container
  .content
    padding-bottom: 20%

  #cover
    background-color: rgba(0, 0, 0, 0.8)
    background-image: url(../img/jiantou.png)
    background-repeat: no-repeat
    background-position: right top
    position: absolute
    z-index: 9999
    top: $topbar-height
    left: 0
    right: 0
    bottom: 0
    display: none

    &.show
      display: block

  .download
    background: url(../img/web/114.png) no-repeat 10px center
    background-color: $download-background-color
    background-size: 60px 60px
    height: $gap-l + 55px
    width: 100%
    font-size: 14px
    position: fixed
    bottom: 0
    left: 0
    z-index: 0

    .download-button
      display: inline-block
      width: 70px
      height: $gap-l + 15px
      line-height: $gap-l + 15px
      text-align: center
      color: $white
      border-radius: 4px
      background-color: $navbar-background-color
      float: right
      margin-right: $gap
      margin-top: $gap-l

    .download-content
      padding-top: $gap - 5px

      ul
        list-style: none
        margin-left: $gap-l + 20px
        margin-top: $gap - 5px

        li
          line-height: $gap-l - 3px
          width: 165px

          i
            color: $star-color
            font-size: 18px
            line-height: $gap-l + 10px

.web
  .game-button,
  .shortcut-button,
  .share-button
    display: none !important