<form class="filter row">
  <div>
    <select>
      <option> == 排序 == </option>
      <option>更新时间</option>
      <option>发布时间</option>
      <option>点击热度</option>
    </select>
  </div>
  <div>
    <select>
      <option> == 游戏类型 == </option>
      <option>角色扮演</option>
      <option>益智</option>
      <option>赛车</option>
      <option>解密</option>
    </select>
  </div>
</form>

<ul id="guide-list" class="row">
  <script type="text/html-template">
    {{#each apps}}
    <li>
      <figure>
        <a href="{{url}}"><img src="{{icon}}" ></a>
        <figcaption><a href="{{url}}">{{name}}</a></figcaption>
      </figure>
    </li>
    {{/each}}
  </script>
  <li class="item">
    <figure>
      <a href="#/local/bilibili/"><img src="mocks/images/bilibili.jpg" ></a>
      <figcaption><a href="#/local/bilibili/">哔哩哔哩视频</a></figcaption>
    </figure>
  </li>
  <li class="item">
    <figure>
      <a href="#/remote/zhihu/"><img src="./mocks/images/zhihu.jpg" alt="知乎日报"></a>
      <figcaption><a href="#/remote/zhihu/">知乎日报</a></figcaption>
    </figure>
  </li>
  <li class="item">
    <figure>
      <a href="#/remote/skype"><img src="./mocks/images/skype.jpg" alt="Skype"></a>
      <figcaption><a href="#/remote/skype">Skype</a></figcaption>
    </figure>
  </li>
</ul>