<div class="all-guides-list">
  <form class="filter row">
    <div class="dropdown">
      <input type="radio" name="sort" value="order_by_game" id="sort-1" checked><label for="sort-1">更新时间</label>
      <input type="radio" name="sort" value="order_by_guide" id="sort-2"><label for="sort-2">发布时间</label>
    </div>
    <div class="dropdown">
      <input type="radio" name="group" value="order_by_guide" id="group-all" checked><label for="group-all">发布时间</label>
    </div>
  </form>

  <ul id="guide-list" class="row">
    <script type="text/html-template">
      {{#each apps}}
      <li>
        <figure>
          <a href="{{url}}"><img src="{{icon}}" ></a>
          <figcaption><a href="{{url}}">{{name}}</a></figcaption>
        </figure>
      </li>
      {{/each}}
    </script>
  </ul>

  <div class="btn-group pagination">
    <a class="btn no-click" href="#/prev"><i class="fa fa-chevron-left"></i> 上一页</a>
    <a class="btn no-click" href="#/next">下一页 <i class="fa fa-chevron-right"></i></a>
  </div>
</div>
