{{#if slide}}
<div class="carousel">
  <div class="item">
    {{#each slide}}
    <a href="{{url}}"><img src="{{img}}" title="{{title}}" alt="{{name}}" /></a>
    {{/each}}
  </div>
  <nav class="indicator">
    {{#each slide}}
    <a href="#" data-slide-to="{{@index}}" class="active"></a>
    {{/each
  </nav>
</div>
{{/if}}
<header class="game-header">
  <h2 class="game-name">{{name}}攻略</h2>
  <a href="download://{{packname}}" class="btn download-button"><i class="fa fa-download"></i> 下载攻略</a>
</header>
<nav class="home-page">
  <a href="#/local/{{packname}}/guide/index.html" class="btn"><i class="fa fa-fw fa-compass"></i> 关卡攻略</a>
  <a href="#/local/{{packname}}/news/index.html" class="btn"><i class="fa fa-fw fa-rss-square"></i> 游戏新闻</a>
  <a href="#/" class="btn"><i class="fa fa-fw fa-sign-out"></i> 返回首页</a>
</nav>