<ul id="offline-list" class="list-panel">
  <script type="text/html-template">
    {{#each apps}}
    <li class="item {{alias}}">
      <a href="{{url}}"><img src="{{icon}}" /></a>
      <h2><a href="{{url}}">{{name}}</a></h2>
      <div class="btn-group">
        {{#if is-download}}
        <p class="text-success"><i class="fa fa-check"></i> 已下载</p>
        <a href="delete://{{alias}}" class="delete-button btn"><i class="fa fa-trash-o"></i> 删除</a>
        {{else}}
        <p class="hidden"><i class="fa fa-download"></i> <span></span>%</p>
        <a href="download://{{alias}}" class="btn pause-button"><i class="fa fa-download"></i> 下载</a>
        {{/if}}
      </div>
    </li>
    {{/each}}
  </script>
</ul>