# IDE
.idea

# repos
bower_components
node_modules

# android
res

# test
spec

# compiled
css/*.css
css/component/*.css
css/page/*.css
css/*.map
js/templates.js

# mocks
local
mocks/local

.sass-cache
Makefile
